*{
    background-color: #e6e6fa;
}

.container{
    display:grid;
    grid-template-columns: 4fr;
}

.row{
   display:grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 50px;
}

.footer{
    color: bisque;
    text-align: center;
    font-size: 20px;
    background-image: linear-gradient(#c71585, #ff1493, #4b0082, #191970);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
}
.card{
    display: grid;
    filter:drop-shadow(2px 4px 8px #585858);
    margin-bottom: 20px;
    margin-top: 20px;
    color: #ffffff;
}

.carrito{
    display: grid;
   grid-template-columns: repeat(3, 1fr);
    gap: 10px;

}

.agregar-carrito{
 
}

 

#banner{
    color: bisque;
    text-align: center;
    font-size: 200px;
    background-image: linear-gradient(#c71585, #ff1493, #4b0082, #191970);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.name{
    text-align: center;
    background-color: #ffffff;
    font-size: 30px;
    color: #4b0082;
}
.price{
    text-align: center;
    background-color: #ffffff;
    font-size: 20px;
}

.unicorn{

}